<canvas id="example" width="400" height="200"></canvas>
<% if (result.name == '體溫') {%>
    <div class="form-group">
        <label >請輸入您的<%= result.name %></label>
        <input type="number" class="form-control"  placeholder="36.5°C">
    </div>
<%}%>
<% if (result.name == '身高') {%>
    <div class="form-group">
        <label >請輸入您的<%= result.name %></label>
        <input type="number" class="form-control"  placeholder="165cm">
    </div>
<%}%>
<% if (result.name == '體重') {%>
    <div>
        <label >建議值</label>
        <input type="number" placeholder="60kg">
    </div>
<%}%>
<% if (result.name == '體脂') {%>
    <div class="form-group">
        <label >請輸入您的<%= result.name %></label>
        <input type="number" class="form-control"  placeholder="25%">
    </div>
<%}%>
<% if (result.name == '腰圍') {%>
    <div class="form-group">
        <label >請輸入您的<%= result.name %></label>
        <input type="number" class="form-control"  placeholder="68cm">
    </div>
<%}%>
<% if (result.name == '心跳') {%>
    <div class="form-group">
        <label >請輸入您的<%= result.name %></label>
        <input type="number" class="form-control"  placeholder="100bpm">
    </div>
<%}%>
<% if (result.name == '血壓') {%>
    <div class="form-group">
        <label >請輸入您的<%= result.name %></label>
        <input type="text" class="form-control"  placeholder="117/65 mmHg">
    </div>
<%}%>
<% if (result.name == '血糖') {%>
    <div class="form-group">
        <label >請輸入您的<%= result.name %></label>
        <input type="number" class="form-control"  placeholder="85 mg/dl">
    </div>
<%}%>
<% if (result.name == '血氧') {%>
    <div class="form-group">
        <label >請輸入您的<%= result.name %></label>
        <input type="number" class="form-control"  placeholder="90%">
    </div>
<%}%>  
<% if (result.name == '總膽固醇') {%>
    <div class="form-group">
        <label >請輸入您的<%= result.name %></label>
        <input type="number" class="form-control"  placeholder="250 mg/dl">
    </div>
<%}%>
<% if (result.name == '尿酸') {%>
    <div class="form-group">
        <label >請輸入您的<%= result.name %></label>
        <input type="number" class="form-control"  placeholder="6 mg/dL">
    </div>
<%}%>
<% if (result.name == '睡眠') {%>
    <div class="form-group">
        <label >請輸入您的<%= result.name %></label>
        <input type="number" class="form-control"  placeholder="7.5小時">
    </div>
<%}%>